* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
    min-height: 100vh;
    color: white;
    font-family: Arial, sans-serif;

    background: linear-gradient(
        0deg,
        #000000,
        #1a0033,
        #001a33
    );
}